language: generic

rvm: 2.6.3
gemfile: Gemfile

cache:
  - bundler

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - SKIP_SWIFTLINT=TRUE

install:
  - gem update bundler
  - bundle install --without=documentation
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"

jobs:
  include:
    - os: osx
      osx_image: xcode11
      script:
        - set -e
        - swift --version
        - make test
        - make test_demo
        - bundle exec pod lib lint --skip-tests --allow-warnings
      after_script:
        - bundle exec danger --remove-previous-comments

    - os: linux
      dist: trusty
      script:
        - set -e
        - swift --version
        - make build

branches:
  only:
    - master
